<launch>
    <param name="/panel/gps_topic" value="/gps_position" />
    <!-- <param name="/panel/pose_topic" value="/pose_graph_node/odometry_rect" /> -->
    <param name="/panel/pose_topic" value="/pose_graph_path" />
    <param name="/panel/nb_cycles" value="3" />
    <param name="z_up" value="true" />
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
        <arg name="port" value="9090"/>
    </include>
</launch>
